body {
    background-color: #FFFFFF;
    color: #212121 ;
}
ul {
    list-style: none;
}
p {
color:  #757575;
}


/* цвет основного текста #212121 */
/* цвет парагафа #757575 */
/* акцент #2196F3 */
/* цвет шапки  #FFFFFF */
/* цвет подвала и шапки #2F303A */
/* вторичный цвет фона #F5F4FA */

