body {
    background-color: #FFFFFF;
    color: #212121 ;
    font-family: 'Roboto',
    sans-serif;
}

ul {
    list-style: none;
}

/*header*/

.header {
background: #FFFFFF;
}
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: #2196F3;
    }
}
.logoheader{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;        
    letter-spacing: 0.03em;
    
    color: #2196F3;
}
.header-item :hover,
.header-item :focus {
    color: #2196F3 ;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
         }
.contacts-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

/*first-page*/
/*hero*/

.hero {
background: #2F303A;
}

.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
}
.hero-button {
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: #FFFFFF;}

    /*main*/

    .features-item{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
              
        color: #212121;
    }
     
    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;              
        letter-spacing: 0.03em;        
        color: #757575;
    }
/*prodact*/

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;    
    color: #212121;
}

/*staff*/

.staff {
    background: #F5F4FA;
}

 .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;      
    letter-spacing: 0.03em;
    color: #212121;
 }
 .job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
 }

 /*second-page*/
 body {
     background-color: #FFFFFF;
 }

  /*main*/

  .button :hover,
.button :focus {
color: #2196F3;
}
 
.example {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;        
    letter-spacing: 0.06em;
    
    color: #212121;
}
.option {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;    
    letter-spacing: 0.03em;
    
    color: #757575;
}

 /*footer*/

footer {
background-color: #2F303A;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: #2196F3;
}
.logoheader{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;   
    letter-spacing: 0.03em;
    
    color: #000000;
}
.logopart {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;      
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}
.footer-address{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;       
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}
.footer-mail{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}
.footer-phone{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}


/* цвет основного текста #212121 */
/* цвет парагафа #757575 */
/* акцент #2196F3 */
/* цвет подвала  #2F303A */
/* вторичный цвет фона #F5F4FA */

